$purple: #2c1b4b;
$font-color: #666699;
$bg-purple: #aa8dd8;

html{
  font-size: 14px;
}

body{
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
  margin: 0;
  background-color: #fff;
}

ul,ol>li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}
